<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">
    
	<description>Define global resources for O2O, including MQ Broker, Web
		Container.</description>

	<!-- Log4j configuration watcher -->
	<bean class="com.h3c.oasis.o2oserver.log.LoggingReconfigurationWatcher"
		lazy-init="false">
		<property name="refreshPeriod" value="60" />
	</bean>

	<bean id="logRotateTask" class="com.h3c.oasis.o2oserver.log.LogRotateTask">
		<property name="txtRetainDays" value="3" />
		<property name="zipRetainMonths" value="12" />
	</bean>
					
	<task:scheduler id="logRotateTaskTrigger" pool-size="1" />
	<task:scheduled-tasks scheduler="logRotateTaskTrigger">
		<task:scheduled ref="logRotateTask" method="rotateLog"
			cron="0 0 1 * * ?" />
	</task:scheduled-tasks>

	<!-- Embedded web container (Tomcat) --> 
	<bean id="embeddedTomcat" class="com.h3c.oasis.o2oserver.bootstrap.TomcatStartup" 
		lazy-init="false"> </bean> 

</beans>
